<div class="content">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Cor</th>
        <th>Preço</th>
        <th>Açoes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{ car.id }}</td>
        <td>{{ car.marca }}</td>
        <td>{{ car.modelo }}</td>
        <td>{{ car.ano }}</td>
        <td>{{ car.cor }}</td>
        <td>{{ car.preco }}</td>
        <td class="buttons">
          <button class="button">Editar</button>
          <button class="button">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="menu">
    <button class="btn">Adicionar</button>
  </div>
</div>
